/checkpoint/best_GrowTableFingerPrint.pth
/checkpoint/best_GrowTableGraphImage_0623.pth
/checkpoint/best_GrowTableGraphNN_0606.pth
/checkpoint/best_GrowTableGraphNN_0912.pth
/checkpoint/best_GrowTableImage_0304.pth
